/* ---------- GENERELT ---------- */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Gill Sans", sans-serif;
  scroll-behavior: smooth;
}



/* ---------- HEADER ---------- */
header {
  margin-top: 20px; /* luft over headeren */
  width: 100%;
}

ul.nav {
  list-style: none;
  margin: 0;
  padding: 35px 0;
  background-color: #0f2e5c;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

/* Logo */
ul.nav li.logo {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

/* Links */
ul.nav li {
  display: inline-block;
  margin: 0 15px;
}

ul.nav a.hero-text {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  display: inline-block;
  border: 2px solid #e19d41;
  border-radius: 20px;
}

ul.nav a:hover {
  text-decoration: underline;
  background: #020e20;
}

/* ---------- FOOTER ---------- */
footer {
  background-color: #003366; /* Mørk blå */
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  margin-top: auto; /* Skubber footeren til bunden */
  position: relative;
  bottom: 0;
}

footer a {
  color: #69c9d0; /* Lys blå farve til links */
  text-decoration: none;
  transition: 0.3s;
}

footer a:hover {
  text-decoration: underline;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
